<h1>Hello! I'm Yu Hsin.</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex illo libero
  debitis minima corrupti dicta at, voluptatem laboriosam soluta odit rerum
  harum neque accusamus veritatis laborum vitae facilis nam excepturi!
</p>
<div class="links">
  <a target="_blank" href="">
    <!-- alt: screen reader will just skip over the image part and just read out the label -->
    <img src="" alt />
    <div class="hidden-label">GitHub</div>
  </a>

  <a target="_blank" href="">
    <img src="" alt />
    <div class="hidden-label">LinkedIn</div>
  </a>
</div>
