<section class="dark-section">
  <h2>Experience</h2>
  <div class="jobs">
    <div class="job">
      <h3>Software Engineer</h3>
      <h4>Company</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorem
        nobis nemo, consequatur facere vero suscipit dignissimos qui id. Quaerat
        consequatur vitae rerum deleniti incidunt, labore in harum ex ratione?
      </p>
    </div>
    <div class="job">
      <h3>Software Engineer</h3>
      <h4>Company</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorem
        nobis nemo, consequatur facere vero suscipit dignissimos qui id. Quaerat
        consequatur vitae rerum deleniti incidunt, labore in harum ex ratione?
      </p>
    </div>
  </div>
</section>
